<div style="display: flex; justify-content: space-between; align-items: center;">
  <h1 style="margin: 0;">Faculties</h1>

  <div style="display: flex; margin: 0 auto;">
    <%= search_form_for @q, url: staffs_path, class: "d-flex align-items-center" do |f| %>
      <%= f.search_field :first_name_cont, placeholder: "Search", class: "form-control me-2" %>
      <%= f.submit "Search", class: "btn btn-outline-success" %>
    <% end %>
  </div>

  <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal", style="padding: 15px 15px; color:blue; border-color: blue">New staff</button>
</div>

<table class="table table-striped", style="text-align: left;">
  <thead>
  <tr>
    <th style="width: 10%;"><%= sort_link(@q, :first_name, "First Name", default_order: :desc) %></th>
    <th style="width: 10%;"><%= sort_link(@q, :last_name, "Last Name") %></th>
    <th style="width: 10%;"><%= sort_link(@q, :email, "Email") %></th>
    <th style="width: 10%;"><%= sort_link(@q, :user_type, "Role") %></th>
    <th style="width: 10%;"><%= sort_link(@q, :doj, "Join date") %></th>
    <th style="width: 10%;"><%= sort_link(@q, :phone_no, "Phone no") %></th>
    <th style="width: 10%;"><%= sort_link(@q, :dob, "DOB") %></th>
  </tr>
  </thead>
  <tbody>
  <div id="users">
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.first_name %></td>
        <td><%= faculty.last_name %></td>
        <td><%= faculty.email %></td>
        <td><%= faculty.user_type %></td>
        <td><%= faculty.doj %></td>
        <td><%= faculty.phone_no %></td>
        <td><%= faculty.dob %></td>
      </tr>
    <% end %>
  </div>
  </tbody>
</table>

<%if @pagy.pages > 1 %>
  <div class="row">
    <div class="col"><%== pagy_info(@pagy) %></div>
    <div class="col" style="display: flex; justify-content: right"><%== pagy_bootstrap_combo_nav_js(@pagy) %></div>
  </div>
<% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag(staffs_path) do |form| %>
          <div class="form-item-select">
            <%= label_tag :email, "Email", class: "mandatory" %>
            <%= email_field_tag :email,nil, autofocus: true, autocomplete: "email", placeholder: "@UserName", class: "form-input"%>
            <% if @staff.errors.present? && @staff.errors[:email].any? %>
              <div style="color: red;"><%= @staff.errors[:email].first %></div>
            <% end %>

            <%= label_tag :user_type %>
            <%= select_tag :user_type, options_for_select(Constant.user_types), class: "form-input" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
