<div style="display: flex; justify-content: space-between;">
  <h1 style="justify-content: right">Faculties</h1>
  <%= link_to "New staff", new_staff_path, class: "btn", style: "padding: 15px 15px; color:blue; border-color: blue" %>
</div>
<table class="table table-hover", style="text-align: left;">
  <thead>
  <tr>
    <th style="width: 10%;">First Name</th>
    <th style="width: 10%;">Last Name</th>
    <th style="width: 10%;">Email</th>
    <th style="width: 10%;">Role</th>
    <th style="width: 10%;">Join date</th>
    <th style="width: 10%;">Phone no</th>
    <th style="width: 10%;">DOB</th>
  </tr>
  </thead>
  <tbody>
  <div id="users">
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.first_name %></td>
        <td><%= faculty.last_name %></td>
        <td><%= faculty.email %></td>
        <td><%= faculty.user_type %></td>
        <td><%= faculty.doj %></td>
        <td><%= faculty.phone_no %></td>
        <td><%= faculty.dob %></td>
      </tr>
    <% end %>
  </div>
  </tbody>
</table>
