<div id="<%= dom_id entry %>">
  <p>
    <strong>Book:</strong>
    <%= entry.book_id %>
  </p>

  <p>
    <strong>Acquisition date:</strong>
    <%= entry.acquisition_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= entry.due_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= entry.return_date %>
  </p>

  <p>
    <strong>Fine amount:</strong>
    <%= entry.fine_amount %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= entry.member_id %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= entry.library_id %>
  </p>

</div>
