<div id="<%= dom_id issue %>">
  <p>
    <strong>Book copy:</strong>
    <%= issue.book_copy_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= issue.member_id %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= issue.library_id %>
  </p>

  <p>
    <strong>Fine:</strong>
    <%= issue.fine %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= issue.book_id %>
  </p>

</div>
