
<!--<h3>Cancel my account</h3>-->

<!--<div>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>-->

<%#= link_to "Back", :back %>

<div class="overlay">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="con">
      <header class="head-form">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        <p>update here using your username and password</p>
      </header>
      <br>
      <div class="field-set">
        <table>
        <tr>
          <td>
            <%= f.text_field :first_name, autofocus: true, class: "form-input", placeholder: "UserName" %>
          </td>
          <td>
            <%= f.text_field :last_name, class: "form-input", placeholder: "H" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.date_field :doj, class: "form-input"  %>
          </td>
          <td>
            <%= f.date_field :dob, class: "form-input"  %>
          </td>
        </tr>
          <tr>
            <td>
              <%= f.email_field :email, autocomplete: "email", class: "form-input", placeholder: "@UserName" %>
            </td>
            <td>
              <%= f.password_field :current_password, autocomplete: "current-password", autofocus: true, class: "form-input", placeholder: "Password" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.password_field :password, autocomplete: "current-password", autofocus: true, class: "form-input", placeholder: "Password" %>
              <%# if @minimum_password_length %>
<!--                <br />-->
<!--                <em><%#= @minimum_password_length %> characters minimum</em>-->
              <%# end %>
            </td>
            <td>
              <%= f.password_field :password_confirmation, autocomplete: "current-password", autofocus: true, class: "form-input", placeholder: "Password" %>
            </td>
          </tr>
        </table>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="actions">
          <%= f.submit "Update", class: "log-in" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
