<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= form_with(model: library) do |form| %>
        <div class="field-set" style="width: 90%; box-sizing: border-box;">
          <div class="row">
            <div class="col">
              <%= form.label :name, style: "display: block", class: "mandatory" %>
              <%= form.text_field :name, autofocus: true, class: "form-input", placeholder: "UserName" %>
              <% if library.errors[:name].any? %>
                <div style="color: red;"><%= library.errors[:name].first %></div>
              <% end %>
            </div>
            <div class="col">
              <%= form.label :established_date, style: "display: block" %>
              <%= form.date_field :established_date , class: "form-input" %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= form.label :location, style: "display: block" %>
              <%= form.text_field :location, autocomplete: "current-password", class: "form-input", placeholder: "Erode" %>
            </div>
            <div class="col">
              <%= form.label :email, style: "display: block", class: "mandatory" %>
              <%= form.text_field :email, class: "form-input", placeholder: "@UserName" %>
              <% if library.errors[:email].any? %>
                <div style="color: red;"><%= library.errors[:email].first %></div>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= form.label :opening_hours_start, style: "display: block" %>
              <%= form.time_field :opening_hours_start, class: "form-input" %>
            </div>
            <div class="col">
              <%= form.label :opening_hours_end, style: "display: block" %>
              <%= form.time_field :opening_hours_end, class: "form-input" %>
            </div>
          </div>

          <div class="actions">
            <%= form.submit class: "log-in" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="field-set">
        <%= image_tag 'login.jpg', alt: 'Example Image', class: "img-fluid" %>
      </div>
    </div>
  </div>
</div>
