<div id="<%= dom_id library %>">
  <p>
    <strong>Library:</strong>
    <%= library.library_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= library.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= library.location %>
  </p>

  <p>
    <strong>Established date:</strong>
    <%= library.established_date %>
  </p>

  <p>
    <strong>Opening hours start:</strong>
    <%= library.opening_hours_start %>
  </p>

  <p>
    <strong>Opening hours end:</strong>
    <%= library.opening_hours_end %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= library.email %>
  </p>

</div>
