<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Libery Management System </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end mr-3" id="navbarText">
    <ul class="navbar-nav mr-auto", style="margin-inline-end: 3rem">
      <li class="nav-item active">
        <a class="nav-link" href="/faculties/sign_in">Login <span class="sr-only"></span></a>
      </li>
      <li>
        <a class="nav-link" href="/members/sign_in">Member Login <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
<table style="width: 100%; margin-top: 20px;" >
  <tr>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <h4>Create Library</h4>
    </td>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <%= image_tag 'login.jpg', alt: 'Example Image', size: '400x250' %>
    </td>
  </tr>
  <tr>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <%= image_tag 'login.jpg', alt: 'Example Image', size: '400x250' %>
    </td>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <h4>Login Admin</h4>
    </td>
  </tr>
  <tr>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <h4>Edit Profile</h4>
    </td>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <%= image_tag 'login.jpg', alt: 'Example Image', size: '400x250' %>
    </td>
  </tr>
  <tr>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <%= image_tag 'login.jpg', alt: 'Example Image', size: '400x250' %>
    </td>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <h4>Create Book</h4>
    </td>
  </tr>
  <tr>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <h4>Create Staff</h4>
    </td>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <%= image_tag 'login.jpg', alt: 'Example Image', size: '400x250' %>
    </td>
  </tr>
  <tr>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <%= image_tag 'login.jpg', alt: 'Example Image', size: '400x250' %>
    </td>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <h4>Login Staff</h4>
    </td>
  </tr>
  <tr>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <h4>Create User</h4>
    </td>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <%= image_tag 'login.jpg', alt: 'Example Image', size: '400x250' %>
    </td>
  </tr>
  <tr>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <%= image_tag 'login.jpg', alt: 'Example Image', size: '400x250' %>
    </td>
    <td style="width: 50%; text-align: center; vertical-align: middle;">
      <h4>Add Entry</h4>
    </td>
  </tr>
</table>
<div style="text-align: center; vertical-align: middle; margin-top: 20px" >
  <%= link_to 'Create Library', new_library_path, class: 'log-in' %>
</div>

<footer style="justify-content: space-between; text-align: center; margin-top: 20px; border-top: 1px solid #ccc; padding-top: 10px;">
  <p>Email: <a href="mailto:hariharan23palani@example.com">info@example.com</a> &copy; 2024 Your Company Name. All rights reserved. &copy; Phone: +91 (890) 393-9046</p>
</footer>
