<div id="<%= dom_id book %>">
  <tr>
    <td><%= book.isbn %></td>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.published_date %></td>
    <td><%= book.copies_available %></td>
    <td><%= book.total_copies %></td>
    <td><%= book.category.name %></td>
    <td><%= book.price %></td>
    <td><%= book.row %></td>
    <td style="display: flex;justify-content: space-around;">
      <%#= link_to  book do %>
<!--        <i class="fa fa-eye" aria-hidden="true"></i>-->
      <%# end %>
      <%= link_to edit_book_path(book) do %>
        <i class="fa fa-edit" style="font-size: 22px;"></i>
      <% end %>
      <%= link_to book do%>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </td>
  </tr>
</div>
