<% if faculty_signed_in? && current_faculty.staff? %>
  <% puts "cont name => #{controller_name}" %>
  <% puts "action name => #{action_name}" %>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #cbdeec;">
    <a class="navbar-brand" href="#", style="margin-left: 20px">
      <% if current_faculty.library.logo.present? %>
        <%= image_tag current_faculty.library.logo, width:"60", height:"30" %>
      <% else %>
        <%= image_tag 'login.jpg', width:"30", height:"30", alt:""%>
    <% end %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mr-2" id="navbarNav">
      <ul class="navbar-nav", style="margin-right: 20px">
        <li class="nav-item">
          <a class="navbar-brand" href="/books">Book</a>
        </li>
        <li class="nav-item active">
          <a class="navbar-brand" href="/users">Member <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/users/library_entry">Entry</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/users/library_issues">Issue</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/faculties/edit">Edit Profile</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign out', destroy_faculty_session_path, data: { "turbo-method": :delete }, class: 'navbar-brand' %>
        </li>
        <li class="nav-item">
          <div class="header_img">
            <% if current_faculty.avatar.present? %>
              <%= image_tag current_faculty.avatar, width:"60", height:"40" %>
            <% else %>
              <img src="https://i.imgur.com/hczKIze.jpg" alt="">
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <% elsif faculty_signed_in? && current_faculty.admin? %>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#", style="margin-left: 20px">
      <% if current_faculty.library.logo.present? %>
        <%= image_tag current_faculty.library.logo, width:"60", height:"30" %>
      <% else %>
        <%= image_tag 'login.jpg', width:"30", height:"30", alt:""%>
      <% end %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mr-2" id="navbarNav">
      <ul class="navbar-nav", style="margin-right: 20px">
        <li class="nav-item active">
          <a class="navbar-brand" href="/categories">Category <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/books">Book</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/staffs">Staff</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/faculties/edit">Edit Profile</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Edit Library', edit_library_path(current_faculty.library_id), class: 'navbar-brand' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign out', destroy_faculty_session_path, data: { "turbo-method": :delete }, class: 'navbar-brand' %>
        </li>
        <li class="nav-item">
          <div class="header_img">
            <% if current_faculty.avatar.present? %>
              <%= image_tag current_faculty.avatar, width:"60", height:"40" %>
            <% else %>
              <img src="https://i.imgur.com/hczKIze.jpg" alt="">
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <% elsif member_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#", style="margin-left: 20px">
      <% if current_member.library.logo.present? %>
        <%= image_tag current_member.library.logo, width:"60", height:"30" %>
      <% else %>
        <%= image_tag 'login.jpg', width:"30", height:"30", alt:""%>
      <% end %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mr-2" id="navbarNav">
      <ul class="navbar-nav", style="margin-right: 20px">
        <li class="nav-item">
          <a class="navbar-brand" href="/login_members/books">Book</a>
        </li>
        <li class="nav-item active">
          <a class="navbar-brand" href="/login_members/entries">Entry<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/members/edit">Edit Profile</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign out', destroy_member_session_path, data: { "turbo-method": :delete }, class: 'navbar-brand' %>
        </li>
        <li class="nav-item">
          <div class="header_img">
            <% if current_member.profile.present? %>
              <%= image_tag current_member.profile, width:"60", height:"30" %>
            <% else %>
              <%= image_tag 'login.jpg', width:"30", height:"30", alt:""%>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<% end %>
