<div id="<%= dom_id member %>">
  <tr>
    <td><%= member.code %></td>
    <td><%= member.name %></td>
    <td><%= member.email %></td>
    <td><%= member.dob %></td>
    <td><%= member.phone_no %></td>
    <td><%= member.expired_at %></td>
    <td><%= member.amount %></td>
    <td><%= link_to "Show this book", member %></td>
  </tr>
</div>