<h1>Entries</h1>
<table class="table table-hover table-dark", style="text-align: left;">
  <thead>
  <tr>
    <th style="width: 10%;">Member</th>
    <th style="width: 10%;">Code</th>
    <th style="width: 15%;">Book title</th>
    <th style="width: 15%;">Book ISBN</th>
    <th style="width: 15%;">Start date</th>
    <th style="width: 15%;">Due date</th>
    <th style="width: 15%;">Return date</th>
    <th style="width: 15%;">Fine amount</th>
  </tr>
  </thead>
  <tbody>
  <div id="entries">
    <% if @entries.present? %>
      <% @entries.each do |entry| %>
        <tr>
          <td><%= entry.member.name %></td>
          <td><%= entry.member.code %></td>
          <td><%= entry.book.title %></td>
          <td><%= entry.book.isbn %></td>
          <td><%= entry.acquisition_date %></td>
          <td><%= entry.due_date %></td>
          <td><%= entry.return_date %></td>
          <td><%= entry.fine_amount %></td>
        </tr>
      <% end %>
    <% else %>
      <p> No entries available </p>
    <% end %>
  </div>
  </tbody>
</table>
